<template>
  <div class="home">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eleifend eleifend orci, vel venenatis metus aliquet id. Sed ultricies enim eget lacus molestie venenatis. Nulla porta eget lorem a molestie. Quisque in ligula velit. Donec ut purus venenatis quam convallis rhoncus in commodo nibh. Integer ut convallis elit. Mauris aliquam, arcu vestibulum mollis finibus, erat urna convallis magna, ac luctus ex sapien vel leo.</p>

    <button id="game-list-button">
      <router-link to="/game-list" >Liste des jeux</router-link>
    </button>

  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
}
</script>

<style>
 .home {
   height: 100%;
 }

 #game-list-button {
   margin-top: 10%;
   padding: 1%;
   background-color: cornflowerblue;
   border: 1px solid deepskyblue;
   border-radius: 5px;
   font-size: 150%;
 }
</style>
