<template>
  <div
      :id="color.label"
      :class="{highlighted: color.highlighted}"
      v-on:mousedown="$emit('push')"
      v-on:mouseup="$emit('release')">
  </div>
</template>

<script>
  export default {
    name: "GameButton",
    props: ['color']
  }
</script>

<style scoped>
  #rouge {
    border: 4px solid red;
  }

  #rouge.highlighted {
    background-color: red;
  }

  #jaune {
    border: 4px solid yellow;
  }

  #jaune.highlighted {
    background-color: yellow;
  }

  #bleu {
    border: 4px solid deepskyblue;
  }

  #bleu.highlighted {
    background-color: deepskyblue;
  }

  #vert {
    border: 4px solid limegreen;
  }

  #vert.highlighted {
    background-color: limegreen;
  }
</style>
