<template>
  <div id="game-list">
    <div v-for="game in games" v-bind:key="game" class="game">
      <h1>{{game.name}}</h1>
      <p class="description">{{game.description}}</p>
      <router-link :to="game.link">Jouer !</router-link>
    </div>
  </div>
</template>

<script>
  export default {
    name: "GameList",
    data: () => {
      let games = [
        {
          name: 'Simon',
          description: 'Le jeu, électronique, éclaire une des quatre couleurs et produit un son toujours associé à cette couleur. Le joueur doit alors appuyer sur la touche de la couleur qui vient de s\'allumer dans un délai assez court. Le jeu répète la même couleur et le même son, puis ajoute au hasard une nouvelle couleur. Le joueur doit reproduire cette nouvelle séquence. Chaque fois que le joueur reproduit correctement la séquence, le jeu ajoute une nouvelle couleur.',
          link: '/simon'
        }
      ];

      return {
        games
      }
    }
  }
</script>

<style scoped>
 .game {
   width: 80%;
   margin: auto;
 }

 .game h1 {
   margin-bottom: 1%!important;
 }

 .description {
   margin-bottom: 1%!important;
 }
</style>
