<template>
  <div id="game-message">
    <h2>{{gameMessage}}</h2>
  </div>
</template>

<script>
  export default {
    name: "GameMessage",
    props: ['gameMessage']
  }
</script>

<style scoped>

</style>
