<template>
  <div id="level-info">
    <h1>Level {{levelCount}}</h1>
  </div>
</template>

<script>
  export default {
    name: "LevelInfo",
    props: ['levelCount']
  }
</script>

<style scoped>

</style>
