<template>
  <div id="highscore">
    <h2>Highscore : {{highScore}}</h2>
  </div>
</template>

<script>
  export default {
    name: "Score",
    props: [
        'highScore'
    ]
  }
</script>

<style scoped>

</style>
