<template>
  <div id="start-button-div">
    <button
        id="start-button"
        v-on:click="$emit('start-game')">
      Jouer
    </button>
  </div>
</template>

<script>
  export default {
    name: "StartButton"
  }
</script>

<style scoped>
  #start-button-div, #start-button {
    height:50px;
    width:150px;
    margin: -50px -75px;
    position:relative;
    top:50%;
    left:46%;
  }
</style>
